@import url("https://fonts.googleapis.com/css2?family=Kufam:wght@400;500;600;700;800;900&display=swap");

html,
body {
  height: 100%;
  font-family: 'Arial', 'sans-serif';
  /* font-family: "Kufam", cursive; */
}
/* 
body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
} */

.form-signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input {
  width: 500px;
  text-align: center;
  border-radius: 20px;
  color: #3a405b;
  background-color: #f0f2f8;
  border: none;
}

.form-signin button {
  border-radius: 20px;
  background-color: #4ce1ab;
  border: none
}

.form-signin button:hover {
  background-color: #3db98b;
}

.form-signin label {
  font-size: large;
  color: #a1a6bb;
}

::placeholder {
  font-size: 12px;
}