@import url("https://fonts.googleapis.com/css2?family=Kufam:wght@400;500;600;700;800;900&display=swap");

html,
body {
  height: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.form-signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input {
  width: 500px;
  text-align: center;
  border-radius: 20px;
  color: #3a405b;
  background-color: #f0f2f8;
  border: none;
}

.form-signin button {
  border-radius: 20px;
  background-color: #4ce1ab;
  border: none;
}

.form-signin button:hover {
  background-color: #3db98b;
}

.form-signin label {
  font-size: large;
  color: #a1a6bb;
}

::placeholder {
  font-size: 12px;
}

.homePage {
  background-color: #f0f2f6;
  width: 100%;
  height: 100%;
  margin: 0;
  height: 100%;
}

.bookCard {
  width: 17rem;
  height: auto;
  margin: 10px;
  margin-top: 15px;
  border-radius: 18px;
  box-shadow: 2px 4px 10px #adb5bd;
  background-color: white;
  border: none;
}

.bookName {
  color: #1c1d23;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.bookName:hover {
  color: #a1a6bb;
}

.bookImg {
  width: auto;
  height: 230px;
  border-radius: 15px;
}

.bookAuthor {
  color: #b8bfd3;
  font-size: 12px;
  font-style: italic;
}

.bookDesc {
  color: #2f4858;
}

.footerSection {
  background-color: #3b4663;
  width: 100%;
  height: auto;
  display: inline-block;
  color: white;
  margin-right: 0px;
  text-align: center;
}

.row {
  margin-right: 0;
}

.footerSection ul {
  list-style: none;
}

.footerSection ul li {
  display: inline-block;
  padding: 10px;
}

.links {
  text-decoration: none;
  color: white;
}

.links:hover{
  color: #3db98b;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
}

.SocialIcon {
  width: 10px;
  height: 10px;
}

.addBookLabels{
  color: black;
  opacity: 50%;
  font-weight: bolder;
}
